<h3>搜索“<%=@keys%>”的结果：</h3>

<% if records.first.present? %>
  <ul class="topics-list">
    <% records.each do |record| %>			
		  <p>
		    <%if record.is_a? Course%>
		      ［课程]<%= link_to record.name, course_path(record) %>
		    <%elsif record.is_a? Note%>
		      [知识]<%= link_to record.title, note_path(record) %>
		    <%end%>
		  </p>		  			
	  <% end %>
  </ul>
<%else%>
  没有相关的记录
<%end%>

<div class="button-box">
  <div class="post-button-bar">
    <a href="javascript:void(0);" onmousedown="jQuery('#search_create').fadeOut('fast', function(){jQuery('#search_create').hide(); });">取消</a>   		
  </div>
</div>

<style type="text/css">
em {
    color: #CC0000;
    font-style: normal;
    font-weight: bold;
}
</style>