<div id="cat-<%= cat.id %>">
	<div class="cat-action">
		[<%=link_to "修改", edit_category_path(cat), :method => :get, :remote => true %> |
		<%=link_to "删除", category_path(cat), :confirm => '您确定删除吗？', :method => :delete %>]
	</div>

	<div class="cat-name">
		<span><%= cat.name%></span>
	</div>
</div>