<div class="list-block">
  <div class="new-block" >
    <%=render :partial => "form", :locals => {:url => categories_path, :method => :post, :cat => Category.new}%>
  </div>
  <% if @cats.present? %>
    <ul class = "cats-list">
      <%= render :partial => "cat", :collection => @cats%>
    </ul>
  <%end %>
</div>

<style type="text/css">

div.new-block {
  background-color: #fff7d7;
  border: 2px solid #fc6;
  margin: 6px ;
}

ul.cats-list {
  display: block;
  list-style: none;
  border: 2px solid #fc6;
  background-color: #fff7d7;
}

ul.cats-list li.parent-cat {
  display: block;
  margin: 6px ;
  border-bottom: 1px solid #fc6;
}

ul.cats-list li.parent-cat ul li{
  display: block;
  margin-left: 10px ;
}

ul.cats-list li div.cat-name{
  display: block;
  list-style: none;
  background-color: #fff7d7;
}

ul.cats-list li div.cat-action{
  display: block;
  list-style: none;
  background-color: #fff7d7;
  float: right;
}

</style>
