<script type="text/javascript" src="/javascripts/jquery-1.4.4.js"> </script>

<%form_for :client, nil, :url => {:action => "create_client"},:html =>{:enctype => "multipart/form-data", :method => :post }   do |f|%>
  <div>
    <img width="100" class="start_img" style="display:block;" src="/images/view.gif" id="icon_img"/>
    <div><%=file_field(:client, :icon, :class => 'file_input', :onChange => "upload_img(jQuery(this).val(), 'icon_img', 'start_img');") %></div>
  </div>
  <div>
    <img width="100" class="start_img" style="display:block;" src="/images/view.gif" id="startup_img" />
    <div><%=file_field(:client, :startup, :class => 'file_input', :onChange => "upload_img(jQuery(this).val(), 'startup_img', 'start_img');") %></div>
  </div>
  <div>
    <img width="100" class="start_img" style="display:block;" src="/images/view.gif" id="logo_img" />
    <div><%=file_field(:client, :logo, :class => 'file_input', :onChange => "upload_img(jQuery(this).val(), 'logo_img', 'start_img');") %></div>
  </div>  
<%end%>

<div style="display:none;">
  <%form_for nil, nil, :url => {:action => "upload"},:html =>{:enctype => "multipart/form-data", :method => :post, :id => "upload_form" }   do |f|%>
  <%end%>
</div>

<style type="text/javascript">
  .start_img {
    border: 1px solid #CCCCCC;
    height: 234px;
    margin-right: 10px;
    padding: 5px;
    width: 140px;
}
</style>

<script type="text/javascript">
  function upload_img(file, img_id, klass) {
    jQuery("#"+img_id).replaceWith("<img src='/images/load.gif' id='icon_img' class="+ klass +" />");
    //jQuery.post("/upload/upload", {file: file, img_id: img_id, klass: klass});
  }
</script>