
<div id="rss_news">
  <img src="/images/ajax-loading.gif" />
</div>

<script>
  function toggle_desc(id){
    if($("full_"+id).getStyle('display')=="block"){
      $("full_"+id).hide();
    }else {     
      $("full_"+id).show();
    }   
    return false;
  }
  //must load with html

  Event.observe(window, 'load', function() {
    <%=remote_function(:update=>"rss_news",:url => {:action =>"rss_news", :feed_id=>"#{params[:feed_id]}" } )%>;
  });
</script>

<style>
	.content {
		display: block;
		background-color: #efe;
		cursor: pointer;
	}
</style>



